@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    background: url('/static/img/clock.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.content {
    margin: 0 auto;
    width: 40vw;
    background-color: deepskyblue;
    opacity: 0.9;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

.submitButton {
    background-color: rgb(53, 209, 6);
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
}