<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="content">
        <h1 style="text-align: center">Alarm List</h1>
        <table>
            <tr>
                <th>Alarm</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>
                        <a href = "/delete/{{ task.id }}">Delete</a>
                        <br>
                        <a href = "/update/{{ task.id }}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <form action = "/" method = "POST">
            <input type = "text" name = "content" id = "content">
            <input type = "submit" value = "Add Alarm" class = "submitButton">
        </form>
    </div>
</body>
</html>