<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="content">
        <h1 style="text-align: center">Update Alarm</h1>

        <form action = "/update/{{task.id}}" method = "POST">
            <input type = "text" name = "content" id = "content", value = "{{task.content}}">
            <input type = "submit" value = "Update">
        </form>
    </div>
</body>
</html>
